@font-face 
{
    font-family: 'major-mono';
    src: url('../fonts/major-mono-display_regular/major-mono-display_regular.woff2') format('woff2'),
         url('../fonts/major-mono-display_regular/major-mono-display_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

