@font-face 
{
    font-family: 'warzone';
    src: url('../fonts/warzone/warzone.woff2') format('woff2'),
         url('../fonts/warzone/warzone.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face 
{
    font-family: 'metalord';
    src: url('../fonts/metalord/metalord.woff2') format('woff2'),
         url('../fonts/metalord/metalord.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face 
{
    font-family: 'android';
    src: url('../fonts/android/android.woff2') format('woff2'),
         url('../fonts/android/android.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

