body
{
    margin: 0%;
}

.darkness
{
    width: 100%;
    height: 2000px;
    background-color: #000000;  
}

.pathway
{
    margin: auto;
    width: 40%;
    height: 2000px;
    /* background-color: #080b0b;*/
    background-color: #2f9f9f;  
}